attrs==20.3.0
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorlog==4.7.2
dataclasses==0.8
dnspython==2.1.0
et-xmlfile==1.0.1
fastapi==0.63.0
h11==0.12.0
idna==2.10
importlib-metadata==3.7.0
iniconfig==1.1.1
markkk==0.0.16
numpy==1.19.5
openpyxl==3.0.7
packaging==20.9
pandas==1.1.5
passlib==1.7.4
pkg-resources==0.0.0
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pydantic==1.8.1
PyJWT==2.0.1
pymongo==3.11.3
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
starlette==0.13.6
toml==0.10.2
typing-extensions==3.7.4.3
urllib3>=1.26.4
uvicorn==0.13.4
zipp==3.4.0
